
// Centralized variables file for shared variables

// Shared UI variables
$border-color: #ddd;
$info-color: #2196F3;
$accent-color: lime;
$white: white;
$yellow: yellow;
$red: red;
$green: green;
// $blue: blue;