@use "@n8d/htwoo-core/lib/sass/00-base/colors/colors";

body{
    content: "Is ok - Yes pretty much";
    content: "It was pretty nice";
    background-color: lime;
}/* Test change Wed Jun 11 22:43:02 CEST 2025 */
