// filepath: test-ice-build/source/styles.scss
body {
  background-color: #f0f0f0;
  font-family: sans-serif;

  h1 {
    // color: navy;
    text-decoration: underline;
    // Example for autoprefixer
    ::placeholder {
      color: gray;
      // background-color: lime;
    }
  }
}