/* source/hello-world.scss */
.cotnent2 {
  content: "ajsldk alsdk ";
}
.hell {
  content: "oworld";
}
.a-maker-bot {
  content: "a new maker bot is in town";
}
.another {
  content: "Brick in the wall";
}
.content {
  content: "Just another content";
}
