.content {
  content: "test";
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}
body h1 {
  text-decoration: underline;
}
body h1 ::-moz-placeholder {
  color: gray;
}
body h1 ::placeholder {
  color: gray;
}